#VPContent {
    display: flex;
    flex-direction: column;
}

#VPContent > .VPDoc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 0 !important;
}

#VPContent > .VPDoc > .container {
    flex-grow: 1;
    display: flex;
}

#VPContent > .VPDoc > .container > .content {
    /* Use this to set distance of footer from bottom of the page */
    padding-bottom: 50px;
}

#VPContent > .VPDoc > .container > .content > .content-container {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}

#VPContent > .VPDoc > .container > .content > .content-container > main {
   flex-grow: 1 !important; 
}
