<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
              integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"/>
        <link rel="stylesheet"
              href="{{ config.base_url }}/assets/css/generated/main.css"/>
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <!-- <script defer src="{{ config.base_url }}/assets/js/page.js"></script> -->
        {% block extrahead %}{% endblock %}
    </head>
    <body class="min-h-screen h-[10000px] flex flex-col child:child:px-8">
        <div class="flex-1 flex flex-row child:pt-8">
            <div class="flex-1 min-w-0 hidden md:block mt-14">
                <!-- Left Sidebar -->
                {% block lsidebar %}
                {% endblock %}
            </div>
            <div id="main" class="prose w-[48rem] max-w-none mt-14">
                <!-- Main Content -->
                {% block main %}
                    <div class="prose-xl flex flex-row">
                        <h1 class="font-extrabold text-green-400">{{ section.title }}</h1>
                    </div>
                    {{ section.content | safe }}
                {% endblock %}
            </div>
            <div x-data="{ open: true, full: true, share_icons: false }"
                 class="flex-1 min-w-0 sticky top-0 self-start h-screen hidden md:flex flex-col">
                <!-- Header -->
                {% block header %}
                    <nav class="flex flex-row items-center justify-end child:inline-block group">
                        <!-- NavBar -->
                        <ul x-on:mouseover="full = true"
                            x-init="full = is_top()"
                            x-on:mouseout="full = is_top()"
                            x-on:scroll.document="full = is_top()"
                            x-on:resize.document="full = is_top()"
                            x-bind:style="{ 'max-width': open ? (full ? width($el) : parent_width($el)) : 0 }"
                            class="list-none ml-[-100vw] z-10 overflow-hidden text-sm child:text-right child:inline-block child:mx-2 hover:child:text-pink-400 dark:hover:child:text-pink-200 transition-[max-width] whitespace-nowrap duration-300 ease-in-out">
                            {% set root_section = get_section(path="_index.md") %}
                            <li>
                                <a href="{{ root_section.permalink }}">{{ root_section.title }}</a>
                            </li>
                            {% for subsection_path in root_section.subsections | reverse %}
                                {% set subsection = get_section(path=subsection_path) %}
                                <li>
                                    <a href="{{ subsection.permalink }}">{{ subsection.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- Hamburger -->
                        <button x-on:click="open = !open" id="menu-toggle" class="ml-3">
                            <i class="fas fa-bars fa-lg text-pink-600"></i>
                        </button>
                    </nav>
                    <!-- Page Actions -->
                    <div id="action-nav"
                         class="transition-[max-height] duration-300 ease-in-out overflow-hidden"
                         x-bind:style="{ 'max-height': open ? height($el) : '0px' }">
                        <div class="flex flex-row flex-wrap space-x-5 justify-end mt-7 hover:child:text-pink-300">
                            <!-- Action Text -->
                            <i x-ref="action_text" class="text-sm"></i>  {# Previous post, Next post, Back to top, Share post #}
                            <!-- Action Icons -->
                            {% if page %}
                                {% if page.lower %}
                                    <a aria-label="Previous" href="{{ page.lower.permalink }}">
                                        <i class="fas fa-chevron-left" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                                {% if page.higher %}
                                    <a aria-label="Next" href="{{ page.higher.permalink }}">
                                        <i class="fas fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                            <a href="#"
                               aria-label="Top of Page"
                               x-on:click.prevent="window.scrollTo({ top: 0, behavior: 'smooth' })"
                               x-on:mouseover="$refs.action_text.innerText = 'Back to top'"
                               x-on:mouseout="$refs.action_text.innerText = ''">
                                <i class="fas fa-chevron-up" aria-hidden="true"></i>
                            </a>
                            <a href="#"
                               aria-label="Switch Theme"
                               x-init="theme_init($el)"
                               x-on:click.prevent="theme_toggle"
                               x-on:mouseover="$refs.action_text.innerText = 'Toggle dark theme'"
                               x-on:mouseout="$refs.action_text.innerText = ''">
                                <i class="fas fa-moon" aria-hidden="true"></i>
                            </a>
                            <a href="#"
                               aria-label="Share"
                               x-on:click.prevent="share_icons = !share_icons"
                               x-on:mouseover="$refs.action_text.innerText = 'Share post'"
                               x-on:mouseout="$refs.action_text.innerText = ''">
                                <i class="fas fa-share-alt" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Share Icons -->
                    <ul id="share-icons"
                        class="transition-[max-height] duration-300 ease-in-out mt-1 mb-4 overflow-hidden text-right"
                        style="max-height: 0px"
                        x-effect="if (!open) share_icons = false"
                        x-bind:style="{ 'max-height': share_icons ? height($el) : '0px' }">
                        <li>
                            <a class="icon" href="" aria-label="Facebook">
                                <i class="fab fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon" href="" aria-label="Twitter">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon" href="" aria-label="Linkedin">
                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon" href="" aria-label="Pinterest">
                                <i class="fab fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <!-- href="mailto:?subject={#{{ page.title }}#}&body=Check out this article: {#{{ page.permalink }}#}" -->
                            <a class="icon" aria-label="Email">
                                <i class="fas fa-envelope" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon" href="" aria-label="Pocket">
                                <i class="fab fa-get-pocket" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon" href="" aria-label="reddit">
                                <i class="fab fa-reddit" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon" href="" aria-label="Tumblr">
                                <i class="fab fa-tumblr" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon" href="" aria-label="Hacker News">
                                <i class="fab fa-hacker-news" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                {% endblock %}
                <!-- Right Sidebar -->
                <div class="overflow-y-auto break-words flex-1">
                    {% block rsidebar %}
                        Right Sidebar
                        Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
                        labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi
                        animcupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est
                        aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia
                        pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit
                        commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa
                        proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia
                        eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim.
                        Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et
                        culpa duis.
                        Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
                        labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi
                        animcupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est
                        aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia
                        pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit
                        commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa
                        proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia
                        eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim.
                        Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et
                        culpa duis.
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block footer %}
            {#
            <footer class="bottom-0 pb-8">
                <span>Hi</span>
            </footer>
            #}
        {% endblock %}
        <script>
            function theme_init(e) {
                if (localStorage.theme === 'dark' ||
                    (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                    document.documentElement.classList.add('dark');
                    e.firstElementChild.classList.remove('fa-moon');
                    e.firstElementChild.classList.add('fa-sun');
                }
            }

            function theme_toggle(evt) {
                if (document.documentElement.classList.toggle('dark')) {
                    localStorage.theme = 'dark';
                    evt.target.classList.remove('fa-moon');
                    evt.target.classList.add('fa-sun');
                } else {
                    localStorage.theme = 'light';
                    evt.target.classList.remove('fa-sun');
                    evt.target.classList.add('fa-moon');
                }
            }

            function is_top() {
                return document.documentElement.scrollTop == 0;
            }
            function height(e) {
                return e.scrollHeight + 'px';
            }
            function width(e) {
                return e.scrollWidth + 'px';
            }
            function parent_width(e) {
                return e.parentElement.scrollWidth + 'px';
            }
        </script>
    </body>
</html>
