{% extends "index.html" %}

{% block lsidebar %}
    {% if section.toc %}
    <div x-data="{ toc: true }">
        <button class="hover:text-green-400" x-on:click="toc = !toc">
            <i class="fas fa-chevron-down transision duration-300" aria-hidden="true" x-bind:style="{ 'transform': toc ? '' : 'rotate(-90deg)' }"></i>
            <span class="px-2 text-sm">Table of Contents</span>
        </button>
        <div id="toc" class="text-lg mt-2 break-words transition-[max-height] duration-300 ease-in-out overflow-hidden"
            x-bind:style="{ 'max-height': toc ? height($el) : '0px' }">
            <ul>
            {% for h1 in section.toc %}
                <li>
                    <a href="{{ h1.permalink | safe }}"># {{ h1.title }}</a>
                </li>
                {% if h1.children %}
                    <ul>
                        {% for h2 in h1.children %}
                            <li>
                                <a href="{{ h2.permalink | safe }}">* {{ h2.title }}</a>
                            </li>
                            {% if h2.children %}
                                <ul>
                                    {% for h3 in h2.children %}
                                        <li>
                                            <a href="{{ h3.permalink | safe }}">- {{ h3.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock %}


{% block rsidebar %}
{% endblock %}
